section {
  color: black;
  background-color: #CDEEB3
}

img {
  position: absolute;
  display: flex;
  align-items: center;
  padding-top: 180px;
  height: 600px;
  padding-left: 20px;
}
.btn-dannger
{
  color: white;
  background-color: #e66e7c;
}